html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* настройки */
body {
  max-width: 1920px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/*  Heder-nav */
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 90px;
}
.block__list a {
  padding: 36px 30px 35px 30px;
  display: block;
  align-items: center;
  color: rgb(0, 0, 0);
}
.nav__list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  border-left: 1px #c4c4c4;
  border-style: none solid none solid;
}
.nav__list li:last-child {
  border-right: 1px solid #c4c4c4;
}
.logo__medi a {
  padding: 0 35px 0 36px;
}

/* wrapper info */
.wrapper__info {
  background: #4fbfa5;
  height: 700px;
}

.list__wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}
.list__wrapper li {
  margin-right: 65px;
}
.list__wrapper li:first-child {
  margin-left: 60px;
}
.list__wrapper li:last-child {
  margin-right: 0;
}
.list__wrapper a {
  line-height: 27px;
  color: #fff;
}
.buttom__nav-wrapper a {
  margin-left: 30px;
  margin-right: 10px;
  padding: 9px 15px 10px 15px;
  background-color: #fff;
  font-weight: 500;
  line-height: 21px;
  color: black;
}

/* Косметология */

.cosmetology__info {
  width: 1300px;
  height: 533px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}
.img__info {
  height: 100%;
}
.cosmetology-desc {
  width: 416px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 55px;
}

.link__info {
  padding: 15px 25px 14px 25px;
  background: #00868a;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.buttom__link-info {
  margin-bottom: 24px;
}

/* arrow__section */
.arrow__block {
  margin-left: 371px;
  display: flex;

  align-items: unset;
}
.arrow__section-l {
  margin-right: -1px;
}
/*  */
.cos__info {
  display: block;
  font-size: 21px;
  height: 80px;
}
.cos__info-buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first__buttom {
  padding: 24px 199px;
  background: #00868a;
}
.medium__buttom {
  padding: 24px 83px 24px 82px;
}
.last__buttom {
  padding: 24px 97px;
  background: #00868a;
}
.cos__info-buttom a {
  line-height: 32px;
  white-space: nowrap;
  color: #fff;
}

/* start инновации */
.innovations {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.innovations-wrap {
  display: flex;
  flex-direction: column;
}
.innovation-box {
  padding-top: 35px;
  padding-left: 40px;
  padding-bottom: 45px;
  width: 486px;
  background-color: #00868a;
}
.patent {
  display: flex;
  justify-content: space-between;
}

.innovations-title {
  width: 125px;
  padding: 9px 0px 10px 0px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  background-color: #4fbfa5;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.innovations-desc {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
.innovations-link-btn {
  display: flex;
  align-items: center;
  width: 170px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
.arrow {
  display: block;
  padding-right: 20px;
}
.patent-desc {
  padding-right: 112px;
}
.patent {
  padding-top: 35px;
}
.patent-title {
  display: block;
  width: 156px;
  padding: 9px 15px 10px 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  background-color: #4fbfa5;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.patent-item {
  display: flex;
}

.num {
  padding-right: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  opacity: 0.35;
}
.item-desc {
  padding-top: 15px;
  width: 144px;
  opacity: 0.35;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.patent-item:first-child {
  padding-bottom: 15px;
}
.patent-item:last-child {
  padding-top: 184px;
}

.top-element {
  position: absolute;
  padding-top: 20px;
}
.top-element-num {
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 144px;
  padding-right: 30px;
  opacity: 100%;
  color: #00868a;
}
.top-element-desc {
  padding-top: 30px;
  width: 319px;
  opacity: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}
.patent-pic-wrap {
  padding-top: 85px;
}
/* end инновации */

/* start news */
.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.news-box {
  width: 41%;
  background-color: #4fbfa5;
  color: #ffffff;
}
.news-title {
  padding-right: 385px;
  padding-left: 40px;
  padding-top: 35px;
  padding-bottom: 30px;
}
.news-title-text {
  display: block;
  padding: 9px 15px 10px 15px;
  width: 71px;
  background-color: #00868a;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.news-list {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.news-item {
  padding: 35px 40px;
}
.news-item:hover {
  background-color: #00868a;
}
.sidebar-news {
  width: 770px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #e5e5e5;
}
.sidebar-title {
  padding-top: 35px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.sidebar-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.sidebar-item {
  padding-left: 15px;
  padding-bottom: 14px;
  background-image: url(/img/маркер.svg);
  background-position: 0 7.5px;
  background-size: 6px;
  background-repeat: no-repeat;
}
/* end news */

/* start offers */
.offers-list {
  display: flex;
  justify-content: center;
  position: relative;
}

.offers-title {
  padding-top: 80px;
  padding-bottom: 198px;
  text-align: center;
  background-color: #e5f3f4;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #00868a;
}
.offers-pic-wrap{
  position: relative;
  top: -180px;
}
.offers-sicker{
  position: relative;
  bottom: 108px;
  left: 30px;
  z-index: 10;
  width: 118px;
  padding: 9px 15px 10px 15px;
  text-align: center;
  color: #fff;
  background-color: #4fbfa5;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.offers-item{
  padding-right: 24px;
}
.offers-item:last-child{
  padding-right: 0;
}


/* end offers */
