html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  Heder-nav */
.wrapper {
  width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 90px;
}
.block__list a {
  padding: 36px 30px 35px 30px;
  display: block;
  align-items: center;
  color: rgb(0, 0, 0);
}
.nav__list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  border-left: 1px #c4c4c4;
  border-style: none solid none solid;
}
.nav__list li:last-child {
  border-right: 1px solid #c4c4c4;
}
.logo__medi a {
  padding: 0 35px 0 36px;
}

/* wrapper info */
.wrapper__info {
  background: #4fbfa5;
  height: 700px;
}
.hed__wrapper {
  width: 1300px;

  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
}

.list__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-top: 30px;
  margin-bottom: 23px;
}
.list__wrapper li {
  margin-right: 65px;
}
.list__wrapper li:first-child {
  margin-left: 60px;
}
.list__wrapper a {
  color: #fff;
}
.buttom__nav-wrapper a {
  margin-left: 30px;
  margin-right: 10px;
  padding: 9px 15px 10px 15px;
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

/* Косметология */
.cosmetology__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section{
  margin-right: 134px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}
p{
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #fff;
margin-bottom: 40px;
}
.link__info{
  padding: 15px 25px 14px 25px;
  background: #00868A;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
